beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
clarifai==2.3.0
click==6.7
configparser==3.5.0
Django==1.11.5
Flask==0.12.2
future==0.16.0
grpcio==1.14.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
lxml==4.1.1
MarkupSafe==1.0
Pillow==5.2.0
protobuf==3.6.1
psycopg2==2.7.3.2
pyTelegramBotAPI==3.6.5
pytz==2017.3
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
urllib3==1.22
Werkzeug==0.12.2
